table{
    border-collapse:  collapse;
    width: 700px;
    height: 160px;
    text-align: center;
}
th,  td{
    border: 1px solid blue;
}

.red{
    background-color: red;
    color: white;
}

.green{
    background-color: green;color: white;
    
}


.black{
    background-color: black;color: white;

}

.yellow{
    background-color: yellow;color: black;
}

